*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  height: inherit;
  display: flex;
  font-family: Releway, sans-serif;
  position: relative;
  background-color: #fec7ee;
  margin: 0;
}

.page_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
}

.page_title {
  font-size: 116px;
  letter-spacing: 3.5px;
  z-index: 1;
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}
